@model Book
@{
    ViewData["Title"] = "Description";
}
<div class="book-info-container">
    <div class="book-image">
        <img src="@Model.Image" alt="@Model.Name" />
        <div class="book-mark">@Model.Mark</div>
    </div>
    <div class="book-details">
        <h1>@Model.Name</h1>
        <p>@Model.Description</p>
        <h3>@Model.Author</h3>
        <div class="book-actions">
            <a class="book-button" href="/Catalog/Read/@Model.Id">Read</a>
            <form asp-action="AddBookmark" asp-controller="Catalog" method="post">
                <input type="hidden" name="bookId" value="@Model.Id" />
                <button type="submit" class="bookmark">Bookmark</button>
            </form>

        </div>
    </div>
</div>
