@model Book
@{
    ViewData["Title"] = "Description";
    bool isBookmarked = ViewBag.IsBookmarked ?? false;
}
<div class="book-info-container">
    <div class="book-image">
        <img src="@Model.Image" alt="@Model.Name" />
        <div class="book-mark">@Model.Mark</div>
    </div>
    <div class="book-details">
        <h1>@Model.Name</h1>
        <p>@Model.Description</p>
        <h3>@Model.Author</h3>
        <div class="book-actions">
            <a class="book-button" href="/Catalog/Read/@Model.Id">Read</a>
            @if (isBookmarked)
            {
                <form asp-action="RemoveBookmark" asp-controller="Catalog" method="post">
                    <input type="hidden" name="bookId" value="@Model.Id" />
                    <button type="submit" class="book-button remove-bookmark">Remove from bookmarks</button>
                </form>
            }
            else
            {
                <form asp-action="AddBookmark" asp-controller="Catalog" method="post">
                    <input type="hidden" name="bookId" value="@Model.Id" />
                    <button type="submit" class="book-button bookmark">Bookmark</button>
                </form>
            }
           @if (ViewBag.UserRole == "Admin")
            {
                <form asp-action="DeleteBook" asp-controller="Catalog" method="post" onsubmit="return confirm('Delete book?');">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <button type="submit" class="book-button delete-book">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            }
        </div>
    </div>
</div>
